@import "../variables";

.carrito {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  font-family: "Roboto", sans-serif;

  &__icono {
    font-size: 4rem;
    color: $fontLight;
  }
  span {
    font-size: 2rem;
    margin: 1rem;
    color: $fontLight;
  }
}
