@import "../variables";

.categorias {
  background-color: $fontDark;
  position: absolute;

  &__div {
    padding: 10px;
    transition: background-color 0.3s ease;
    top: auto;
    width: 100%;

    &:hover {
      background-color: #76796b;
    }

    &--navlink {
      color: $bgColor4;
      font-weight: 100;
    }
  }
}
