@import "../variables";

.categorias {
  background-color: $fontDark;
  position: absolute;

  &__navlink {
    &--div {
      padding: 15px;
      color: $bgColor4;
      font-weight: 100;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #76796b;
      }
    }
  }
}
