@import "../variables";

.header {
  background-color: $fontDark;
  font-family: "Roboto", sans-serif;

  &__div {
    background-color: $fontDark;
    display: flex;
    justify-content: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &--div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {
        max-width: 15rem;
      }

      &__h1 {
        font-weight: 700;
        font-size: 5rem;
        align-self: center;
        color: $bgColor2;
      }
    }

    &--menu {
      display: flex;
      justify-content: center;
      align-items: center;

      &__ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--li {
          font-size: 2.7rem;
          font-weight: 400;
          padding: 3rem;
        }
      }
    }
  }
}

.inicio {
  color: $bgColor1;
}

.nosotros {
  color: $bgColor3;
}

.productos {
  color: $bgColor4;
  cursor: pointer;
}

.contacto {
  color: $bgColor5;
}
