@import "../variables";

.carrito {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 3rem;

  &__vacio {
    padding: 3rem;
    margin-bottom: 7rem;
  }

  &__optionProductos {
    background-color: $bgColor5;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 2rem;
    &:hover {
      background-color: $bgColor4;
    }
  }
}

.carritoItems {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 3rem;

  &__titulo {
    font-size: 3.5rem;
  }

  &__div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--button {
      align-self: flex-end;
      color: $fontDark;
      background-color: $bgColor5;
      padding: 0.8%;
      border-radius: 10px;
      border: 3px solid $fontDark;
      font-size: 1.5rem;
    }

    &--div {
      background-color: $bgColor5;
      padding: 1.5%;
      border-radius: 10px;
      font-size: 2rem;
      align-self: flex-end;
      margin-left: 100px;

      &:hover {
        background-color: $bgColor4;
      }
    }

    &--option {
      padding: 1%;

      &--total {
        padding: 2rem;
      }

      &--link {
        color: $fontDark;
        background-color: $bgColor5;
        padding: 3%;
        border-radius: 10px;
        border: 3px solid $fontDark;
        font-size: 1.5rem;
      }
    }
  }
}

//media queries

.carrito {
  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
    padding: 2rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.carritoItems {
  &__titulo {
    font-size: 3.5rem;

    @media screen and (max-width: 768px) {
      font-size: 2.8rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }

  &__div {
    &--button {
      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1rem;
      }
    }

    &--div {
      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
        margin-left: 50px;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.2rem;
        margin-left: 30px;
      }
    }

    &--option {
      &--total {
        @media screen and (max-width: 768px) {
          padding: 1rem;
        }

        @media screen and (max-width: 480px) {
          padding: 0.5rem;
        }
      }

      &--link {
        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 480px) {
          font-size: 1rem;
        }
      }
    }
  }
}
